# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
.venv-ci/
env/
venv/

# Testing
.pytest_cache/
.coverage

# CI logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
node_modules/
